.chip {
  z-index: 1;
  width: 89px;
  height: 20px;
  text-align: center;
  position: absolute;
  margin-left: -20px;
  background: var(--unnamed-color-ff5762) 0% 0% no-repeat padding-box;
  background: #ff5762 0% 0% no-repeat padding-box;
  box-shadow: 2px 2px 0px #00000029;
  border-radius: 4px;
}

.chip span {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-10) / var(--unnamed-line-spacing-13)
    var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal bold 10px/13px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
}
