/* Desktop Styles */
.star-rating {
  margin-left: -5px;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}
.on {
  color: #ffc400;
}
.off {
  color: #ccc;
}

.star-icon {
  width: 33px;
  height: 31px;
}

.rating-value {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-20) / var(--unnamed-line-spacing-24)
    var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffc400);
  text-align: center;
  font: normal normal bold 20px/24px Montserrat;
  letter-spacing: 0px;
  color: #ffc400;
}

/* Styles when viewed from a tablet */
@media only screen and (max-width: 768px) {
.rating-value {
  font-size: 20px;
}
}

